.loginContainer {
  align-items: center;
  background-image: url(../../../Assets/image/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: calc(100vh - 56px) ;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.containerForm {
  background-color: white;
  
}

.titleLogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  width: 100%;
}

.titleLogin > img {
  object-fit: cover;
  width: 40%;
}

.buttomLoginContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 250px;
    justify-content: center;
    margin: 0 auto;
    width: 80%; 
}


