.questionContainer {
  background-color: #e5e5e5;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 20px;
}

.selectedAnswer {
  background-color: #59636e;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
  padding: 20px;
}

.answer {
  background-color: white;
  color: #031323;
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
  padding: 20px;
}
